# Django Settings
SECRET_KEY=django-insecure-change-this-in-production-123456
DEBUG=True
ALLOWED_HOSTS=*

# Database Configuration
# Use 'sqlite' for SQLite (default) or 'postgresql' for PostgreSQL
DB_ENGINE=sqlite

# PostgreSQL Configuration (only needed if DB_ENGINE=postgresql)
DB_NAME=ecommerce_alkabry
DB_USER=ecommerce_user
DB_PASSWORD=ecommerce_pass_2026
DB_HOST=localhost
DB_PORT=5432
